__pycache__/
*.dol
*.dump
*.exe
*.map
build/
ctx.c
tools/elf2dol
tools/elf2rel
tools/metroidbuildinfo
tools/mwcc_compiler/*
!tools/mwcc_compiler/.gitkeep
*.bat
include/lmgr326b.dll
.idea/
versions/
build.ninja
.ninja_deps
.ninja_log
dwarfD/
objdiff.json

