__pycache__/
*.dol
*.dump
*.exe
*.map
build/
ctx.c
tools/elf2dol
tools/elf2rel
tools/metroidbuildinfo
tools/mwcc_compiler
*.bat
.idea/
versions/
build.ninja
.ninja_deps
.ninja_log
objdiff.json
orig/*/*
!orig/*/.gitkeep
